/* .holder {
    padding:25px
} */

.holder .row {
    justify-content: center;
}

.interview-post {
    border: 1px solid black;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom:10px;
    /* margin-right:10px; */
}

.company {
    text-align: center;
    color: rgb(0, 27, 36);
    font-size: 45px;
    font-family: cursive;
    margin:auto;
}

.package {
    font-size: 23px;
    padding-left: 10px;
    /* color: rgb(231 59 8); */
}
.name{
    font-size:25px;
    padding-left: 10px
}
.role {
    font-size:25px;
    padding-left: 10px
}
.experience {
    padding: 10px;
    font-size: 18px;
    margin: auto;
}

.Icons {
    display:flex;
    justify-content: space-between;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}