.ForgotPwd-holder {
    display:flex;
    justify-content:center;
    padding:50px;
}

.ForgotPwd-holder .ForgotPwd{
    padding:20px;
    width: 50%;
    border: 1px solid black;
    border-radius:5px;
    background-color:rgb(0,0,0,.2);
}
.ForgotPwd input {
    padding: 10px;
    margin-bottom: 20px;
}

.btn{
    background-color:rgb(0,27,36);
    color:white;
    width:25%;
    text-align:center
}

.ForgotPwd p {
    font-size: 27px;
    text-align: center;
    margin-bottom: 35px;
    font-family: -webkit-body;
    color: antiquewhite;
    font-weight: bold;

}